{% extends 'head.html' %}
{% block content %}
    <div id="page-wrapper" >
            <div id="page-inner">
			 <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            任务管理 <small>kktest</small>
                        </h1>
                    </div>
                </div>
               <!--     if  not test_type and not test_task   -->
                {% if  not test_type%}
                    <!--APitest -->
             <div class="row">
             <form  action="" method="POST" >
                 {% csrf_token %}
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           接口测试
                        </div>
                        <div class="panel-body">

                        <ul>
                            <img src="http://cdn.utest.qq.com/remote_kunpeng/remote_node_1.0.0.0/img/home/Plug-in.svg"   />
                            <li>性能测试</li>
                             <li>业务测试</li>
                        </ul>
                    <center> <button type="submit"    name="test_type"  value="apitest"  class="btn btn-default">进入</button></center>
                        </div>
                    </div>
                </div>
                 </form>
                     <!-- appium -->
                      <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           UI测试
                        </div>
                        <div class="panel-body">
                             <form  action="" method="POST" >
                                 {% csrf_token %}
                                <ul>
                            <img src="http://cdn.utest.qq.com/remote_kunpeng/remote_node_1.0.0.0/img/home/debug.svg"  />
                                    <li>兼容测试</li>
                             <li>功能测试</li>
                        </ul>

                    <center> <button type="submit"    name="test_type"  value="uitest"  class="btn btn-default">进入</button></center>

                        </div>
        </form>
                    </div>
                </div>
           </div>
                    <!-- /. ROW  任务列表模块 -->
                    <div class="row">
             <div class="col-md-12">
                    <div class="panel panel-default">
                         <div class="panel-heading">
                          当前任务
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-bordered table-hover">
                              <thead>
                                        <tr>
                                              <th>测试时间</th>
                                            <th>测试类型</th>
                                            <th>项目</th>
                                            <th>测试进度</th>

                                        </tr>
                                    </thead>

                                {% for x  in task_state_list %}
                                     <tr>
                                     <td>{{ x.3|date:"m-d  H:i " }}</td>
                                     <td>{{ x.0 }}</td>
                                    <td>{{ x.1 }}</td>
                                    {% if x.2 == 0 %}
                                     <td>排队中</td>
                                    {% elif x.2 == 1 %}
                                        <td>正在运行</td>
                                    {% endif %}
                                    </tr>
                                {% endfor %}

                            </table>
                        </div>
                    </div>
                </div>
                </div>
                    <!-- /. ROW  任务列表模块 -->

                   <!-- /. ROW  测试记录模块 -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            测试记录
                        </div>
                        <div class="panel-body">
                             <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>提测时间</th>
                                            <th>应用名称</th>
                                            <th>测试版本</th>
                                            <th>测试类型</th>
                                             <th>测试结果</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                 <tbody>
                                      {% for x  in report_list %}
                                          <tr>
                                          <td>{{ x.0|date:"m-d H:i" }}</td>
                                            <td>{{ x.1 }}</td>
                                            <td>{{ x.2 }}</td>
                                            <td>{{ x.3 }}</td>
                                           <td>{{ x.5 }}</td>
                                           <form   method="POST" >
                                               {% csrf_token %}
                                            <td>                    <center> <button type="submit"    name="report_index"  value={{ x.6 }}  class="btn btn-default">查看</button></center></td>
                                            </form>
                                          </tr>
                                      {% endfor %}


                                 </tbody>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <!-- /. ROW  -->
                {% endif %}
                 <!-- /. ROW  -->

           {% if  test_type  == 'apitest' %}
                        <form  action="" method="POST" >{% csrf_token %}

   <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           定时任务
                        </div>
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
 <input type="datetime-local" name='todaytime' value='{{ todaytime }}'  />

                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            选择项目
                        </div>

                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                {% for x  in my_project %}
                                <li class=""><a href="#{{ x.project_address }}" data-toggle="tab"> {{ x.project_name}}</a>
                                </li>
                                {% endfor%}
                            </ul>
                 <!-- 下面的显示部分  -->

                            <div class="tab-content">
                                {% for x  in my_project %}
                                     {% if x.id == '1' %}
                                    <div class="tab-pane fade active in" id="{{ x.project_address }}">
                                    {% else %}
                                        <div class="tab-pane fade" id="{{ x.project_address }}">
                                        {% endif %}

                                <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                {%  for key,value in case_list.items %}

                                    {% if key == x.project_name %}
                                        {%  for y in value.0 %}
                                             <div class="panel-heading">
                                            <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#{{ y }}" class="collapsed">  {{ y }}</a> <td> <input type="checkbox" name= "{{ y }}"  onclick="swapCheck()" value={{y}}  checked="checked" ></td>
                                        </h4>
                                             <script type="text/javascript">
        //checkbox 全选/取消全选
        var isCheckAll = false;
        function swapCheck() {
            if (isCheckAll) {
                $("input[type='checkbox']  ").each(function() {
                    this.checked = false;
                });
                isCheckAll = false;
            } else {
                $("input[type='checkbox'  ]").each(function() {
                    this.checked = true;
                });
                isCheckAll = true;
            }
        }
    </script>
                                            </div>
                                             <div id="{{ y }}" class="panel-collapse collapse" style="height: 0px;">

                                        <div class="panel-body">

                                        <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>APIname</th>
                                            <th>case_name</th>
                                             <th>confirm</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%  for z in value.1 %}
                                             {% if z.5 == y %}

                                          <tr>
                                            <td>{{ z.0}}</td>
                                            <td>{{ z.2}}</td>
                                            <td>{{ z.3 }}</td>
                                            <td> <input type="checkbox"   checked="checked"  name= 'selected_case_list' value={{z.0}} ></td>
                                          </tr>

                                            {% endif %}
                                            {% endfor %}
                                    </tbody>

                                </table>


                                        </div>
                                    </div>


                                        {% endfor %}
                                        <input type="checkbox"   checked="checked"  hidden="hidden"   name="test_type1" value={{test_type}} >
                                        <center> <button type="submit"  id="bt" class="btn btn-default"  name="project_name"  value= {{ key }}  >提交任务</button></center>

                                    {% endif %}

                                {% endfor %}

                            </div>
                        </div>
                                </div>
                                {% endfor%}

                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>




            {% endif %}


{% if   test_type == "uitest"   %}


        <form  action="" method="POST" >{% csrf_token %}

   <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           定时任务
                        </div>
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
 <input type="datetime-local" name='todaytime' value='{{ todaytime }}'  />

                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            选择项目
                        </div>

                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                {% for x  in my_project %}
                                <li class=""><a href="#{{ x.project_address }}" data-toggle="tab"> {{ x.project_name}}</a>
                                </li>
                                {% endfor%}
                            </ul>
                 <!-- 下面的显示部分  -->

                            <div class="tab-content">
                                {% for x  in my_project %}
                                     {% if x.id == '1' %}
                                    <div class="tab-pane fade active in" id="{{ x.project_address }}">
                                    {% else %}
                                        <div class="tab-pane fade" id="{{ x.project_address }}">
                                        {% endif %}

                                <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                {%  for key,value in UI_case_list.items %}

                                    {% if key == x.project_name %}
                                        {%  for y in value.0 %}
                                             <div class="panel-heading">
                                            <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#{{ y }}" class="collapsed">  {{ y }}</a> <td> <input type="checkbox" name= "{{ y }}" value={{y}}  checked="checked" ></td>
                                        </h4>
                                            </div>
                                             <div id="{{ y }}" class="panel-collapse collapse" style="height: 0px;">

                                        <div class="panel-body">

                                        <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>modele_name</th>
                                            <th>case_name</th>
                                             <th>confirm</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%  for z in value.1 %}
                                             {% if z.2 == y %}

                                          <tr>
                                            <td>{{ z.0}}</td>
                                            <td>{{ z.2}}</td>
                                            <td>{{ z.3 }}</td>
                                            <td> <input type="checkbox"   checked="checked"  name= 'selected_case_list' value={{z.0}} ></td>
                                          </tr>

                                            {% endif %}
                                            {% endfor %}
                                    </tbody>

                                </table>


                                        </div>
                                    </div>


                                        {% endfor %}
                                        <input type="checkbox"   checked="checked"  hidden="hidden"   name="test_type1" value={{test_type}} >
                                        <center> <button type="submit"  id="bt" class="btn btn-default"  name="project_name"  value= {{ key }}  >提交任务</button></center>

                                    {% endif %}

                                {% endfor %}

                            </div>
                        </div>
                                </div>
                                {% endfor%}

                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>




    {% endif %}









<script type="text/javascript">
    window.onload=function(){
 var bt=document.getElementById("bt");
 bt.onclick=function(){
            (alert("任务已添加"))}}
</script>


{% endblock %}